<% provide(:title, "Portfolio Future Value") %>
<style>
    .table {
        width: 30%
    }

    .table tr td:nth-child(1) {
        width: 15%;
    }

    .table tr td:nth-child(2) {
        width: 30%;
    }
</style>
<%= render :partial => "fv_form" %>
<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th>Year</th>
      <th>Date</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>

    <% @portfolio_analysis.annual_future_value.each do |fv| %>
        <tr>
          <td><%= "#{fv[:year]}" %></td>
          <td><%= "#{fv[:date].strftime("%Y-%m-%d")}" %></td>
          <td><%= "$#{number_with_precision(fv[:value], :precision => 2, :delimiter => ',')}" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
