<% provide(:title, "Account History") %>
<h1>Account History</h1>
<%= render :partial => "form" %>
<hr>
<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th class="col-sm-1">Date</th>
      <th class="col-sm-5">Value</th>
    </tr>
    </thead>
    <tbody>

    <% @historical_totals.each do |h| %>
        <tr>
          <td><%= "#{h[0]}" %></td>
          <td><%= "$#{number_with_precision(h[1], :precision => 2, :delimiter => ',')}" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>