<% provide(:title, 'Administration') %>
<div class="container">
    <p><%= button_to "Manage Account Owners", account_owners_path, :method => "get", class: "btn btn-primary", style: "width: 200px;" %></p>
    <p><%= button_to "Manage Account Types", account_types_path, :method => "get", class: "btn btn-primary", style: "width: 200px;" %></p>
</div>