<% provide(:title, "Accounts") %>
<div class="table-responsive">
    <table class="table table-condensed" width="500">
        <thead>
        <tr>
            <th class="col-sm-2">Account Name</th>
            <th class="col-sm-1">Value</th>
            <th class="col-sm-1"></th>
        </tr>
        </thead>
        <tbody>
        <% @accounts.each do |account| %>
            <tr>
                <td><%= link_to account.name, account %></td>
                <td>$<%= account.value %></td>
                <td><%= link_to "Edit", edit_account_path(account) %> <%= link_to "Remove", account, method: :delete, data: {confirm: "Are you sure?"} %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>